<h2 class='test'> Users Page </h2>

<!-- <table class='user-table'> -->
<!--   <tr> -->
<!--     <td></td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td></td> -->
<!--   </tr> -->
<!-- </table> -->


<%# <%= form_for @users do |t| %>
<%# <%= t.text_field 'email' %>
<%# <% end %>
