<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Sandbox</title>
=======
  <title>SimpleCms</title>
>>>>>>> 8366a0f6778c2b9a1cfb269bf1035a1106046063
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
